@font-face {
font-family: "FredokaOne-Regular";
src: url("fonts/FredokaOne-Regular.ttf");
}

  * {
    box-sizing: border-box;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    background-image: url(images/bk7.png);
    background-size: 100%;
    background-repeat: repeat;
    font-family: FredokaOne-Regular;
    font-weight: 50;
  }

  .bodyGame1{
    background-color: #fff;
    background-image: none;
  }

  li:hover{
    text-decoration: none;
  }

  #outer-col-1Game1 {
    background: #3C50FC;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding: 50px 15px;
    justify-content: space-evenly;
    box-shadow: inset -2px 0px 7px #2F394D;
    height: 100vh;
    background-image: url(images/bk7.png);
  }
  .outer-col-2 {
    display: flex;
    flex-direction: column;
  }
  .inner-row {
    display: flex;
    flex-direction: row;
  }
  .inner-col {
    flex: 4;
    background-color: #fff;
    display: flex;
  }
  .inner-row article {
    min-height: 60vh;
  }
  .inner-row aside {
    flex: 1;
  }

  #asideGame1{
    background-color: #3c50fc;
    color: #fff;
    display: block;
    width: 45%;
    float: right;
    font-family: monospace;
    font-size: 18px;
    height: 100vh;
  }

  #headerGame1{
      color: #fff;
      background-color: #3C50FC;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #fff;
      padding: 0px 10px;
  }

  header{
    height: 20vh;
  }
  header, footer, article, nav {
    padding: 1em;
  }

  .col-sm-12{
    padding: 0;
  }

  footer{
    background-color: #00004d;
    color: #fff;
  }

  .homeFooter{
    background-color: #000;
  }


#sketch-holder{
  position: relative;
  visibility: hidden;
  width: 50%;
  float: left;
}

aside{
  padding: 1% 2%;
}

.columnLeft, .columnRight {
}

.columnMiddle{
  float: left;
  width: 100%;
  height: 300px;
  text-align: center;
}

.homeTitle{
  display: flex;
  background-image: url(images/dots.jpg);
  padding: 1% 0%;
  border-bottom: solid 2px #000;
  justify-content: space-evenly;
  align-items: center;
}

.homeTitle H1{
  flex-wrap: wrap;
}

.homeTitle H2{
  flex-wrap: wrap;
}

.row {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    margin-left: 0;
}

.inner-row1{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 15% 1%;
  background-color: rgba(0, 0, 255, 0.8);
}

.inner-row2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 15% 1%;
  background-color: rgba(0, 255, 0, 0.8);
}

.inner-row3{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 15% 1%;
  background-color: rgba(255, 0, 0, 0.8);
}

.inner-col1{
  color: #fff;
  width: 49%;
}

.inner-col1 h3, .inner-col3 h3, .inner-col5 h3{
  font-size: 4em;
}

.inner-col1 p, .inner-col3 p, .inner-col5 p{
  font-size: 2em;
  margin: 0% 10%;
}

.inner-col2{
  display: flex;
  align-items: center;
  width: 49%;
}

.inner-col2 a, .inner-col4 a, .inner-col6 a{
  width: 99%;
}

.inner-col2 li, .inner-col4 li, .inner-col6 li{
  font-size: 3em;
}

.inner-col3{
  color: #fff;
  width: 49%;
}

.inner-col4{
  display: flex;
  align-items: center;
  width: 49%;
}

.inner-col5{
  color: #fff;
  width: 49%;
}

.inner-col6{
  display: flex;
  align-items: center;
  width: 49%;
}



h1{
  color: #000;
  font-size: 72px;
  text-shadow: 1px 1px 1px #000;
  margin: 5px;
  font-family: "FredokaOne-Regular";
}

h2{
  color: #000;
}

.gameHeader{
  float: left;
  font-size: 3em;
}

h3{
  font-size: 26px;
}

#controlHeader{
  margin-bottom: 0;
  color: #fff;
  font-size: 2em;
}

.playButton{
  font-size: 22px;
  text-decoration: none;
  display: block;
  padding: 4px;
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  border: 1px solid #000;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.playButton:hover{
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
}

h3{
  margin-top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 90%;
}

#homeButton1{
  text-decoration: none;
  font-size: 22px;
  pointer-events: all;
  cursor: pointer;
  background-color: #3c50fc;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 12% 0%;
}

#homeButton a{
  color: #fff;
}

#revealSketch{
  width: 90%;
  font-size: 22px;
  margin: 10px 0px;
  height: 15%;
  pointer-events: all;
  cursor: pointer;
  background-color: #3c50fc;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: FredokaOne-Regular;
  font-weight: 50;
}

#startGame1{
  width: 90%;
  font-size: 22px;
  margin: 10px 0px;
  height: 15%;
  pointer-events: none;
  cursor: default;
  background-color: #E0E4F8;
  color: #cccccc;
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: FredokaOne-Regular;
  font-weight: 50;
}

#restartGame1{
  width: 90%;
  font-size: 22px;
  margin: 10px 0px;
  height: 15%;
  pointer-events: none;
  cursor: default;
  background-color: #E0E4F8;
  color: #cccccc;
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: FredokaOne-Regular;
  font-weight: 50;
}

#modal-containerLostGame, #modal-containerWonGame, #modal-containerTimeUp{
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modalLostGame, #modalWonGame, #modalTimeUp{
  background-color: #fefefe;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 15px;
  border: 1px solid #888;
  width: 65%; /* Could be more or less, depending on screen size */
}

#modalLostGame, #modalTimeUp{
  color: red;
}

#modalWonGame{
  color: green;
}

.closeModal {
    color: #ff0000;
    float: right;
    font-size: 38px;
    font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.uopLogoContainer{
  float: right;
}

.uopLogo{
  width: 100px;
}

.timerContainer{
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.scoreContainer{
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.col-sm-3{
  height: 100vh;
  padding: 0;
}

#stroopGameArticle{
  min-width: 350px;
}

#controlWord{
  visibility: hidden;
  font-size: 6em;
}

#controlWordContainer{
  border: solid 1px #3d50fc;
  padding: 2% 5%;
  margin-bottom: 2%;
}

#variableWord{
  visibility: hidden;
  font-size: 6em;
}

#variableWordContainer{
  border: solid 1px #fc3d49;
  border: solid 1px;
  padding: 2% 5%;
  margin-bottom: 2%;
}

#matchButton{
  flex-grow: 1;
  width: 100%;
  font-size: 2em;
  margin-bottom: 2%;
}

#noMatchButton{
  flex-grow: 1;
  width: 100%;
  font-size: 2em;
}

#headerGame2{
  color: #fff;
  background-color: #53FD58;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding: 0px 10px;
}

#outer-col-1Game2{
  background: #53FD58;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 50px 15px;
  justify-content: space-evenly;
  box-shadow: inset -2px 0px 7px #2F394D;
  height: 100vh;
  background-image: url(images/bk7.png);
}

#homeButton2{
  text-decoration: none;
  font-size: 22px;
  pointer-events: all;
  cursor: pointer;
  background-color: #53FD58;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 12% 0%;
}

#startGame2{
  width: 90%;
  font-size: 22px;
  margin: 10px 0px;
  height: 15%;
  background-color: #E0E4F8;
  color: #cccccc;
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: FredokaOne-Regular;
  font-weight: 50;
}

#restartGame2{
  width: 90%;
  font-size: 22px;
  margin: 10px 0px;
  height: 15%;
  pointer-events: none;
  cursor: default;
  background-color: #E0E4F8;
  color: #cccccc;
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: FredokaOne-Regular;
  font-weight: 50;
}

#asideGame2{
  background-color: #53FD58;
  color: #fff;
  display: block;
  width: 45%;
  float: right;
  font-family: monospace;
  font-size: 18px;
  height: 100vh;
}
